@{
    ViewData["Title"] = "Email Confirmation";
}

<p> Host: @ViewData["configHost"]</p>
<p> Port: @ViewData["configPort"]</p>
<p> Email: @ViewData["configEmail"]</p>
<p> ssl: @ViewData["configSsl"]</p>