@model ASP_1.Models.Forum.ForumIndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div class="row mx-3">
        <div class=" block-background col-7 height-main-block main-news">
            <h3>Главные новости</h3>
        </div>
        <div class=" block-background col-4 height-main-block ms-auto main-games">
            <h3>Матчи</h3>
        </div>
        <div class=" block-background col-12 col-md-12 mt-3">
            <h3>Лента</h3>
        </div>
    </div>


</div>
<!--
<div>
    <h1 class="display-4">ASP</h1>
    <p>
        <a href="/Home/Intro">Вступ</a><br />
        <a href="/Home/Scheme">Схема взаимодействия</a><br/>
        <a href="/Home/Url">Структура Url</a><br/>
        <a href="/Home/Razor">Основы Razor</a><br />
        <a href="/Home/PassData">Модели передачи данных</a><br />
        <a asp-controller="Home" asp-action="DisplayTemplates">Шаблоны отображения данных</a><br />
        <a asp-action="TagHelpers">Тег-помощник</a><br />
        <a asp-action="Services">Сервисы (службы)</a><br />
        <a asp-action="Sessions">Сессии</a><br />
        <a asp-action="Context">Контекст</a><br />
        <a asp-action="Middleware">Middleware - ПЗ промежуточного уровня</a><br />

        <a asp-action="EmailConfirmation">Подтверждение email</a><br />
        <br />
        <a asp-controller="User">Страница пользователя</a><br />
   </p>
</div>-->
