@{
    ViewData["Title"] = "Intro Page";
}

<div class="text-center">
    <h1 class="display-4">Вступ</h1>
    <p>
        ASP - active server pages - фреймфорк C# с создением веб-приложений
    </p>
</div>
