@model ASP_1.Models.Home.PassDataModel
@{
    ViewData["Title"] = Model.Header;
}
<h1 class="display-4">Модели передачи данных</h1>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Назва</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            var rowColor = Model.Products.IndexOf(product) % 2 == 0 ? "#f2f2f2" : "#ffffff";
            <tr style="background-color:@rowColor;">
                <td>@(Model.Products.IndexOf(product) + 1)</td>
                <td>@product.Name</td>
                <td>@(Math.Round(product.Price, 2).ToString("0.00"))</td>
            </tr>
        }
    </tbody>
</table>