@{
    ViewData["Title"] = "Scheme Page";
}

<div>
    <h1 class="display-4">Схема взаимодействия</h1>
    <p>
       Данные ViewBag: @ViewBag.data <br/>
       Данные ViewData: @ViewData["data"] <br/>
    </p>
</div>