@{
    ViewData["Title"] = "Sessions";
}

<form>
    Установить аттрибут сессии: <input name="session-attr"/> 
    <input type="submit" value="Установить"/>
</form>
<p>
    Ранее установленный аттрибут: @Context.Session.GetString("session-attribute")
</p>