@{
    ViewData["Title"] = "Url Page";
}

<div>
    <h1 class="display-4">Структура URL</h1>
    <ul>
        <li>
            URL (Uniform Resource Locator) - это стандарт, который определяет способ адресации ресурсов в интернете. 
            URL содержит информацию о местонахождении ресурса в сети, которую браузер использует для доступа к этому ресурсу.
        </li>
        <li>
            Протокол - это первая часть URL-адреса, которая указывает на протокол, используемый для доступа к ресурсу.
            Например, протоколы http и https используются для доступа к веб-сайтам, а протокол ftp - для доступа к FTP-серверам.
        </li>
        <li>
            Домен - это имя сервера, на котором размещен ресурс. Обычно доменное имя состоит из имени хоста и доменного имени верхнего уровня (TLD), например, google.com.
        </li>
        <li>
            Порт - это номер, который используется для идентификации приложения на сервере, к которому идет обращение. Обычно порты не указываются в URL-адресе, так как они имеют значения по умолчанию.
            Например, порт 80 используется для протокола http, а порт 443 - для протокола https.
        </li>
        <li>
            PATH - это часть URL-адреса, которая указывает на конкретный ресурс на сервере. 
            Путь начинается после имени домена и может содержать дополнительные подкаталоги или файлы, например, /blog/post1.html.
        </li>
        <li>
            Хеш - это часть URL-адреса, которая начинается с символа # и используется для указания конкретного фрагмента страницы. 
            Хеш не отправляется на сервер и используется только на стороне клиента, чтобы управлять поведением браузера при навигации по странице.
        </li>
        <li>
            Url параметры - это часть URL-адреса, которая начинается с символа ? и содержит пары имя/значение, разделенные символом &.
            URL-параметры используются для передачи дополнительной информации на сервер, например, /search?q=example, где q - имя параметра, а example - его значение.
        </li>
    </ul>
</div>
